@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-kanit)
}

@layer utilities{
  .img-shadow{
    filter: drop-shadow(40px 50px 25px #0f1115);
  }
  .img-shadow2{
    filter: drop-shadow(10px 30px 50px #0f1115);
  }
  .input-style{
    @apply px-4 py-2 rounded-md text-white 
  }
  .primary-btn{
    @apply px-4 py-2 rounded-md text-white bg-primary
  }
}